/* Font |Popins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Title */
.title h2 {
  color: #14478d;
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
  font-weight: 700;
}
/* Navbar start*/
.header .navbar {
  padding: 30px 0;
}
.header .navbar-brand img {
  width: 277px;
}

.header .navbar .navbar-nav .nav-item .nav-link {
  color: #ff0003;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  transition: all linear 0.3s;
  padding: 5px 10px;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #960002;
  text-decoration: none;
}

/* Navbar category */

.navCategory .navbar-brand {
  margin-right: 150px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.navCategory .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  transition: all linear 0.3s;
  padding: 2px 5px;
}

/* Best vehicles */
.grid-container-vehicles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 672px;
}
.vehicles-info {
  background-color: rgba(173, 167, 167, 0.5);
  border-radius: 10px;
  padding: 10px;
}
.vehicles-info img {
  width: 284px;
}
.vehicles-info p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.vehicles-sidebar {
  display: flex;
  flex-flow: column nowrap;
  background-color: #005aa7;
  height: 672px;
  padding: 27px;
  overflow: scroll;
}
.vehicles-sidebar-item {
  color: #fff;
  font-size: 14px;
  margin-top: 28px;
}

/* New vehicles released */
.grid-release {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.vehicle-release-button {
  background-color: #ea2224;
  color: #fff;
  padding: 7px;
  width: 150px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 18px;
  border-radius: 30px;
  border: 2px solid #ea2224;
}

/* Award item */
.awardAndCustomer {
  background-color: rgb(214, 210, 210);
  padding: 40px 0;
  text-align: center;
}
.award-all-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.award-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.award-item img {
  width: 80px;
}

/* Service Part */
.servicingFirst {
  background-color: #000;
}
.servicingDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  color: #fff;
}
.servicingPartBackgroundImg {
  background-color: #ccc;
  height: 150px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicingPart2h6 {
  color: #837575;
  padding: 10px 20px;
  background-color: #000;
}
/* Selection Vehicles */

.selectVehicleBackground {
  display: grid;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
}
.selectVehicleBackgroundImg p {
  font-size: 22px;
  text-align: center;
  left: 50%;
  color: #14478d;
  margin-top: 50px;
  font-weight: 600;
}
.selectVehicleBackground > div {
  color: #fff;
  text-align: center;
  margin-top: 100px;
  width: 280px;
  margin-left: 20px;
}
.selectVehicleBackgroundImg {
  height: 300px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.selectVehicleBtn {
  color: #fff;
  background-color: #ea2224;
  width: 150px;
  border: 2px solid #ea2224;
  border-radius: 10px;
}

/* Private vehcile */
.privateVehicle {
  background-color: #ea2224;
  padding: 20px;
  margin-top: 50px;
}
.PrivateVehicleInfo {
  margin: 100px;
}
.PrivateVehicleInfo h2 {
  color: #fff;
}
.PrivateVehicleInfo p {
  color: #fff;
}
.PrivateVehicleInfo button {
  background-color: #fff;
  color: #bf0000;
  width: 150px;
  margin-top: 50px;
  border-radius: 30px;
  border: 2px solid #fff;
}

/* Blog */
.diagonal {
  width: 300px;
  height: 50px;
  background-color: #fb5d5e;
  transform: skewX(-35deg);
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
}
.diagonal > span {
  transform: skewX(35deg);
  color: #fff;
  display: block;
}
.blogs img {
  height: 250px;
}
/* Footer */
.footer {
  background: #000;
  opacity: 1;
  padding: 50px;
}
.FooterImage {
  align-items: center;
  text-align: center;
  margin: auto auto 20px;
}
.flex-footer-cart {
  display: flex;
  margin-left: 2vw;
  flex-flow: row nowrap;
}
.flex-footer-item {
  width: 100px;
}
.flex-container-footer-link {
  display: flex;
  padding: 0 50px;
  color: #fff;
  margin-top: 20px;
  flex-flow: column nowrap;
}
.flex-item-footer-link {
  margin: 0;
  padding: 10px;
  color: #ddd;
  font-size: 14px;
  line-height: 13px;
}
.footer-link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all linear 0.3s;
}
.footer-link:hover {
  color: #bf0000;
}
